
@mixin button($color:rgb(1, 24, 1)) {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid $color;
    border-radius: 0.6em;
    color: $color;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat',
    sans-serif;
    font-weight: 700;
}
@mixin section($bg:white) {
    padding:10vh 0vh;
    background:$bg;
}

@mixin pagehero($bgimage, $bgcolor, $height:20vh){
    background:$bgimage;
    height:$height;
    position:relative;
    background-position: center center;

    &::before{
        content:'';
        position:absolute;
        top:0px;
        left:0px;
        height:$height;
        width:100%;
        background:$bgcolor;
    }

    h1{
        text-transform: capitalize;
        color:white;
        z-index:10;
    }

    p{
        margin-top:2px;
         z-index:10;
         color:$yellow;
         padding:0px 20px;
    }
}