
$darkgreen:#000a00;
$lightgreen:#009933;
$yellow:#FFFF66;
$orange:rgb(232, 235, 217);
$yellowwhite:rgb(240, 240, 233);
$whitegreen: #c2f3d3;
$yellowwhiteoverlay:rgba(162, 247, 162, 0.5);
$overlaybefore:rgba(194, 243, 211, .5);